﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="panel.aspx.cs" Inherits="Practica1.panel" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>panel</title>
    <link href="Utelerias/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <asp:LinkButton ID="lkCerrar" runat="server" >Cerrar Sesión</asp:LinkButton>
            </li>          
            <div>

            </div>
        </ul>
    </div>
    </form>
</body>
</html>
